
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


#btn {
    position: fixed;
    bottom: 20%;
    left: 10%;

}

#tryNowBtn {
    padding: 5px 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    cursor: pointer;
    width: 150px;
    transition: 0.5s;
    font-family: Orbitron;

}

#tryNowBtn:hover {
    background-color: white;
    opacity: 0.7;
    color:black;
    border: 1px solid white;
    width: 152px;

}

#heading{
  position: fixed;
  bottom: 12%;
  right: 10%;
}

#introduction{
  color: white;
  font-size: 40px;
  font-family: Orbitron;
  font-weight: 100;
}

#logo{
  position: fixed;
  top: 3%;
  left: 3%;
}

#logoImg{
  width: 80%;
  height: 40%;
}