body {
  margin: 0;
  padding: 0;
}

.background-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('Runway1.jpg'); /* Set an initial background image */
  background-repeat: no-repeat;
  transition: background-image 2s cubic-bezier(0.645, 0.045, 0.355, 1); /* Slow and smooth transition */
}

#logo{
  position: fixed;
  top: 3%;
  left: 3%;
}

#logoImg{
  width: 12vw;
  height: 8vh;
}

#heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

#introduction {
  font-size: 48px;
  font-family: Orbitron;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#cont {
  position: fixed;
  bottom: -140%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
}


.search-bar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  border: 2px solid white;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  box-sizing: border-box;
}


::placeholder {
  color: white;
  opacity: 1;
  padding-left: 5%;
  font-family: orbitron;
  font-size: large;
}

.search-input {
  padding-left: 2%; /* increase padding as needed */
  width: 78%; /* increase width to move the button to the corner */
  border: none;
  background: transparent;
  color: white;
  outline: none;
  font-size: 1.5em;
  font-family: orbitron;
}

.search-button {
  background: transparent;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  font-size: 2em;
  line-height: 0.8;
  padding: 2%; /* adjust padding as needed */
  width: 20%; /* add width for button */
  text-align: center; /* center the button text/icon */
  font-family: orbitron;
  justify-content: flex-end; /* move the button to the extreme corner */
  align-items: center; /* center the button vertically */
  display: flex; /* needed for justify-content and align-items to work */
}


