/* Common styles */
body {
    margin: 0;
    padding: 0;
  }
  
  #logo {
    position: fixed;
    top: 3%;
    left: 3%;
  }
  
  #logoImg {
    width: 80%;
    height: 40%;
  }
  
  #heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  #introduction {
    font-size: 55px;
    font-family: Orbitron;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  #cont {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin-top: 10%;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    border: 2px solid white;
    width: 70%;
    height: 55px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .search-input {
    padding-left: 2%;
    width: 78%;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    font-size: 1.5em;
    font-family: orbitron;
  }
  
  .search-button {
    background: transparent;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    font-size: 2em;
    line-height: 0.8;
    padding: 2%;
    width: 20%;
    text-align: center;
    font-family: orbitron;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .background-image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('Runway1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; /* Add this line */
  }
  
  
  ::placeholder{
    color: white;
    opacity: 1;
  }
  
  
  /* Media queries */
  @media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .background-image {
      position: fixed;
    }
  
    #logo {
      top: 2%;
      left: 2%;
    }
  
    #logoImg {
      width: 60%;
      height: 30%;
    }
  
    #heading {
      top: 45%;
    }
  
    #introduction {
      font-size: 36px;
    }
  
    #cont {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 1em 0;
    }
    .search-input {
      padding-left: 2%;
      width: 70%;
    }
  
    .search-button {
      padding: 1.5%;
      width: 25%;
      font-size: 1.5em;
    }
  }
  
  