@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    background-color: rgb(24, 23, 24);
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.menu a {
    color: rgba(255, 255, 255, 0.641);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 2px 5px;
    position: relative;
}

.menu a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: aquamarine;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.menu a:first-child {
    margin-left: 0;
}

.menu a:hover:before {
    width: 100%;
    opacity: 1;
}

.menu a:hover {
    color: aquamarine;
}

.logo {
    font-family: 'Lobster', sans-serif;
    font-size: 21px;
    margin-left: 10px;;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2px;
    background-color: rgb(24, 23, 24);
    padding: 0px;
}

.header-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-select h1 {
    margin-right: 10px;
    color:rgb(203, 253, 234);
    font-size: 60px;
    background-color: transparent;
}

#image-form-container {
    background-color: rgba(245, 245, 245, 0);
    padding: 0px;
    margin: 0px auto;
    width: 70vw;
    height:55vh;
    align-items: center;
    border-radius: 15px;
}

#destinationImage {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 1;
    transition: opacity 1s;
}

#destinationImage.fadeOut {
    opacity:0;
}

.inline-form {
    width: 69.5%;
    margin: -20px auto 0;
    z-index: 1;
    background:rgb(34, 44, 40);
    padding: 10px;
    border-radius: 15px;
    color: white;
    height:50px;
    perspective: 1000px;
}
.inline-form form {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 2px;
    border-radius:10px;
    background-color: transparent;
}

.inline-form input, .inline-form button {
    margin: 0 4px;
    color: rgb(196, 196, 196);
    border: 3px solid rgb(153, 194, 179);
    border-radius:10px;
    background-color: transparent;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Cabin', sans-serif;
    height: 45px;
    color: white;
    flex-grow: 1;
}

.inline-form button {
    margin: 0 10px;
    background-color: rgb(57, 202, 120);
    border: 0px;
    height: 50px;
    width: 10%;
    padding: 0px 2px;
    flex-grow: 0;
}

::placeholder {
    font-size: 18px;;
}

#input1, #input2 {
    flex: 0.4;
}

#input3 {
    flex: 0.8;
}

#input4 {
    flex: 0.7;
}

#destination {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color:transparent;
    border: 2px solid aquamarine;
    border-radius: 8px;
    color:rgb(120, 120, 120);
    font-family: 'Lato', sans-serif;
    height:55px;
    width: 240px;
    padding: 2px 6px;
    font-weight: 400;
}

#destination:focus {
    outline: firebrick;
}

#yout {
    color: aquamarine;
    margin-right: 5px;
    margin-left: 0px;
    font-size: 20px;
}

#insta {
    margin-left: 140px;
    margin-left: 2px;
    color: aquamarine;
    font-size: 20px;
}

.flipper {
    transition: 0.7s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.front {
    z-index: 2;
    transform: rotateX(0deg);
    transform-origin: bottom;
}

#magic {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

.back {
    transform: rotateX(-180deg);
    transform-origin: bottom;
}

.inline-form:hover .flipper {
    transform: rotateX(180deg);
}

.hidden {
    display: none;
}

#helloWorld {
    text-align: center;
    font-size: 72px;
    margin-top: 50px;
    color: white;
}

#hiddenDiv {
    position: relative;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 23, 24);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 4em;
    transition: opacity 3s ease-in-out;
}

#hiddenDiv.fadeOut {
    opacity: 0;
}

#hiddenContent {
    display: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#changingText {
    font-size: 5em;
    animation: fadeText 1s linear;
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}




